<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>EmptyCup Mobile</title>
</head>
<body>
        <div class="top-nav">
            <img class="top-logo" src="static/assets/icons/logo-small.png" alt="EmptyCup Logo"/>
            <div class="brand">EmptyCup</div>
            <img class= "menu-btn" src="static/assets/icons/three-dots-vertical 1.svg" alt="menu-button">
        </div>

        <div class="line1"></div>

        <div class="filter-bar">
            <div class="filter-left">
                <img class="contact-btn" src="static/assets/icons/Group 6.svg" alt="contact-button">
                <img class="gallery-btn" src="static/assets/icons/Group 7.svg" alt="gallery-button">
                <img class="map-btn" src="static/assets/icons/Group 8.svg" alt="map-button">
            </div>
            <div class="filter-right">
                <button class="shortlisted-toggle" aria-label="Show Shortlisted">
                    <img class="shortlisted-btn" src="static/assets/icons/Group 10.svg" alt="">
                </button>
                <img class="sort-btn" src="static/assets/icons/Group 9.svg" alt="sort-button">
            </div>
        </div>

        <!--<div class="filter-bar">
  <div class="filter-left">
    <button aria-label="Contacts">
      <img class="contact-btn" src="assets/icons/Group 6.svg" alt="">
    </button>
    <button aria-label="Gallery">
      <img class="gallery-btn" src="assets/icons/Group 7.svg" alt="">
    </button>
    <button aria-label="Map">
      <img class="map-btn" src="assets/icons/Group 8.svg" alt="">
    </button>
  </div>
  <div class="filter-right">
    <button aria-label="Shortlisted">
      <img class="shortlisted-btn" src="assets/icons/Group 9.svg" alt="">
    </button>
    <button aria-label="Sort">
      <img class="sort-btn" src="assets/icons/Group 10.svg" alt="">
    </button>
  </div>
</div>-->

<!----        <div class="rect1">
            <div class="rect1-wrapper">
                <div class="rect1-content">
                    <h2 class="rect1-title">Epic Designs</h2>
                    <img class="rect1-rating" src="assets/icons/Group 1.svg" alt="rating-button" />

                    <p class="rect1-description">
                    Passionate team of 4 designers working out of Bangalore with an experience of 4 years.
                    </p>

                <div class="rect1-achievements">
                    <div class="achievement">
                        <span class="value">57</span>
                        <span class="label">Projects</span>
                    </div>
                    <div class="achievement">
                        <span class="value">8</span>
                        <span class="label">Years</span>
                    </div>
                    <div class="achievement">
                        <span class="value">$$</span>
                        <span class="label">Price</span>
                    </div>
                </div>

                <div class="rect1-contact">
                    <p>+91 - 984532853</p>
                    <p>+91 - 984532854</p>
                </div>
            </div>

            <div class="rect1-action">
                <button class="action-btn">
                    <img src="assets/icons/arrow-right-short 1.svg" alt="" />
                    <span>Details</span>
                </button>
                <button class="action-btn">
                    <img src="assets/icons/eye-slash 1.svg" alt="" />
                    <span>Hide</span>
                </button>
                <button class="action-btn shortlist-btn">
                    <img src="assets/icons/bookmark-heart 1.svg" alt="" />
                    <span>Shortlist</span>
                </button>
                <button class="action-btn">
                    <img src="assets/icons/exclamation-circle 1.svg" alt="" />
                    <span>Report</span>
                </button>
            </div>
        </div>
    </div>

    <div class="rect2">
            <div class="rect1-wrapper">
                <div class="rect1-content">
                    <h2 class="rect1-title">Studio - D3</h2>
                    <img class="rect1-rating" src="assets/icons/Group 1.svg" alt="rating-button" />

                    <p class="rect1-description">
                    Passionate team of 4 designers working out of Bangalore with an experience of 4 years.
                    </p>

                <div class="rect1-achievements">
                    <div class="achievement">
                        <span class="value">43</span>
                        <span class="label">Projects</span>
                    </div>
                    <div class="achievement">
                        <span class="value">6</span>
                        <span class="label">Years</span>
                    </div>
                    <div class="achievement">
                        <span class="value">$$$</span>
                        <span class="label">Price</span>
                    </div>
                </div>

                <div class="rect1-contact">
                    <p>+91 - 984532853</p>
                    <p>+91 - 984532854</p>
                </div>
            </div>

            <div class="rect1-action">
                <button class="action-btn">
                    <img src="assets/icons/arrow-right-short 1.svg" alt="" />
                    <span>Details</span>
                </button>
                <button class="action-btn">
                    <img src="assets/icons/eye-slash 1.svg" alt="" />
                    <span>Hide</span>
                </button>
                <button class="action-btn shortlist-btn">
                    <img src="assets/icons/bookmark-heart 1.svg" alt="" />
                    <span>Shortlist</span>
                </button>
                <button class="action-btn">
                    <img src="assets/icons/exclamation-circle 1.svg" alt="" />
                    <span>Report</span>
                </button>
            </div>
        </div>
    </div>-->

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>